body {
	background-color: lightblue;
}

#container {
	display: flex;
  	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 50px;
    margin-left: 45px;
	max-width: 1000px;
}

.caixaPixelizada {
	width: 10px;
	height: 10px;
	background-color: white;
	border-style: solid;
	border-width: thin;
}

.caixaPixelizadaPreta {
	width: 10px;
	height: 10px;
	background-color: black;
	border-style: solid;
	border-width: thin;
}
